@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply
    bg-black
    text-white
  }
  .btn {
    @apply
      py-2
      px-4
      font-semibold
      border-2
      border-solid
      border-white
      hover:bg-white
      hover:text-black
  }

  .card {
    @apply
      mx-4
      my-4
      border-2
      border-solid
      border-white
  }

  .input {
    @apply
      bg-black
      border-2
      border-solid
      border-white
      w-full
  }
}